<%= form_for @user ||= User.new, url: profiles_path, remote: true do |f| %>
  
  <% if @user.errors.any? %>

    <% @user.errors.full_messages.each do |msg| %>
      <% unless msg == "Password digest can't be blank" %>

          <div class="alert alert-error">
            <%= msg %>
          </div>

      <% end %>
    <% end %>

  <% end %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div> 
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div> 
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div> 
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div> 
    <%= f.submit 'Confirm', class: 'btn', id: 'submit' %>
  </div>

<% end %>