<div id="login_modal_flash" style="display: none;">
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
</div>

<div class="span">
<%= form_tag sessions_path, remote: true do %>

  <h4>Enter your info:</h4><br />

  <div>
    <%= label_tag 'Username or email:' %>
    <%= text_field_tag :login %>
  </div>

  <div>
    <%= label_tag 'Password:' %>
    <%= password_field_tag :password %>
  </div>

  <div class="form-inline"> 
    <%= check_box_tag :remember_me %>
    <%= label_tag 'Remember me' %>
  </div><br />

  <div>
    <%= submit_tag 'login', class: 'btn btn-primary' %>
  </div>

<% end %>
</div>

<div class="span">
<%= form_tag password_reset_path, remote: true do %>

  <h4>Forgot password?</h4><br />

  <div>
    <%= label_tag 'Enter email:' %>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= submit_tag 'Submit', class: 'btn btn-primary' %>
  </div>

<% end %><br />

<h4>Do not have an accaunt?</h4>

<button class="btn btn-info" data-dismiss="modal" data-toggle="modal" href="#signup_modal">Signup</button>
</div>

