<%= form_for Order.new, remote: true do |f| %>
  <table class="table table-bordered">
    <h4>Your products:</h4></br>
    <tbody>
      <% @cart.line_items.each do |line_item| %>
        <tr>
          <th><%= line_item.product.title %></th>
          <th><%= line_item.product.price %></th>
          <th><%= line_item.quantity %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <h3>Total price: <%= @cart.total_price %> rub.</h3>
  </div></br>
  <div>
    Payment type:
  </div>
  <div>
    <%= f.select :payment_type, Order.payment_types %>
  </div></br>

  <% if current_user %>
    <div>
      <%= f.submit 'Save order', class: 'btn btn-info' %>
    </div>
  <% else %>
    <div>
      Please 
      <button class="btn btn-info" data-toggle="modal" data-dismiss="modal" href="#login_modal">Login</button> to
      save your order.
    </div>
  <% end %>
<% end %>