<div class="well">
  <div> 
    <%= link_to "To profile", profile_path, class: 'btn' %>
  </div></br>
  <table class="table table-bordered">
    <h4>Products:</h4></br>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <th><%= line_item.product.title %></th>
          <th><%= line_item.product.price %></th>
          <th><%= line_item.quantity %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <h4>Total price: <%= @order.total_price %> rub.</h4>
  </div></br>
  <div>
    <h4>Payment type: <%= @order.payment_type %><h4>
  </div></br>
  <% if @order.pay_status == 'unpaid' %>
    <div>
      <h4><%= link_to 'Pay', 'ya.ru', class: 'btn btn-info' %><h4>
    </div>
  <% end %>
</div>
