<div class="well">
  <div>
    <%= link_to 'Back to profile', profile_path, class: "btn" %>
  </div></br>

  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <div class="row">
        <div class="alert alert-error span6">
          <a class="close" data-dismiss="alert">×</a>
          <%= msg %>
        </div>
      </div>
    <% end %>
  <% end %>

  <table class="table table-bordered">
    <h4>Products:</h4></br>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <tr>
          <th><%= line_item.product.title %></th>
          <th><%= line_item.product.price %></th>
          <th><%= line_item.quantity %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <h4>Total price: <%= @order.total_price %> $</h4>
  </div></br>

  <% if @order.pay_status == 'unpaid' %>
  
      <h4>Enter your cart information:</h4></br>
      <%= form_for @order, url: purchase_path, method: 'post' do |f| %>

        <%= f.fields_for 'credit_card' do |ff| %>
        <div>
          <%= ff.label 'First name:' %><br/>
          <%= ff.text_field :first_name %>
        </div>

        <div>
          <%= ff.label 'Last Name:' %><br/>
          <%= ff.text_field :last_name %>
        </div>

        <div>
          <%= ff.label 'Cart Type:' %><br/>
          <%= ff.select :type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]] %>
        </div>

        <div>
          <%= ff.label 'Cart Number:' %><br/>
          <%= ff.text_field :number %>
        </div>

        <div>
          <%= ff.label 'Cart Verification Value:' %><br/>
          <%= ff.text_field :verification_value %>
        </div>

        <div>
          <%= ff.label 'cart expires on:' %><br/>
          <%= ff.select :year, (2012..2022) %><%= ff.select :month, months_with_numbers %>
        </div>
      
        <div>
          <%= f.submit 'Pay', class: 'btn btn-info' %>
        </div>
        <% end %>
      <% end %>

  <% end %>
</div>
