<%= form_for @product, html: { class: 'well' } do |f| %>
  
  <% if @product.errors.any? %>

    <% @product.errors.full_messages.each do |msg| %>
      <div class="row">
        <div class="alert alert-error span6">
          <%= msg %>
        </div>
      </div>
    <% end %>

  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div> 
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div> 
    <%= f.label :platform %>
    <%= f.select :platform, Product.platforms %>
  </div>

  <div> 
    <%= f.label :released_date %>
    <%= f.text_field :released_date %>
  </div>

  <div> 
    <%= f.label :genre %>
    <%= f.select :genre, Product.genres %>
  </div>

  <div> 
    <%= f.label :description %>
    <%= f.text_area :description, rows: 20, class: 'span4' %>
  </div>

  <div> 
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>

  <div> 
    <%= f.label :developer %>
    <%= f.text_field :developer %>
  </div>

  <div> 
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>  

  <div> 
    <%= f.submit 'save', class: 'btn' %>
  </div>

<% end %>