<div class="span4 right well" id="cart_form_container">
  <%= render 'carts/cart_form' %>
</div>
<div style="clear:right;"></div>

<div class="well">
  <%= render 'nav' %>

  <% @products.each do |product| %>
    <ul class="thumbnails left">
      <li class="span3">
        <div class="thumbnail">
          <%= image_tag product.image_url %>
          <h2 class="left"><%= product.price %> rub.</h2>
          <div class="right">
            <%= button_to 'Add to busket', add_to_cart_path(product.id), remote: true, class: 'btn btn-success' %>
          </div>
          <p style="clear:both;"><%= link_to "move to product's page", store_item_path(
                                                         platform: product.platform,
                                                         genre: product.genre,
                                                         id: product.id ) %></p>
        </div>
      </li>
    </ul>
  <% end %>
  <div style="clear:left;"></div>
</div>

<%= render 'shared/modals' %>