<div class="row">

    <div class="span4">
      <h1>Gamershop</h1>
    </div>

    <div class="span8 auth-btn">
      <% if current_user %>        
        <%= link_to 'logout', logout_path, method: :delete, class: "btn btn-inverse right" %>
        <span class="right">You are logged as <%= link_to "#{current_user.username}", profile_path %><%=  %></span>
      <% else %>
        <button class="btn btn-primary right" data-toggle="modal" href="#login_modal">Login</button>
        <span class="right">Or</span>
        <button class="btn btn-info right" data-toggle="modal" href="#signup_modal">Signup</button>
      <% end %>
    </div>
    
</div>
  
<div class="row">
  
  <div class="span7">
    <ul class="nav nav-top nav-pills">
      <li></li>
      <% { 'Home' => root_path,
           'How to buy' => how_to_buy_path,
           'Delivery' => delivery_path,
           'About us' => about_us_path }.each do |name, path| %>
        <% if name == @title %>
          <li class="active"><%= link_to name, path %></li>
        <% else %>
          <li><%= link_to name, path %></li>
        <% end %>
      <% end %>
    </ul>
  </div>  

  <div class="span5">
    <form class="form-search">
      <button type="submit" class="btn right">Find!</button>
      <input type="text" class="input-medium search-query right" placeholder="start typing smth..."> 
    </form>
  </div>
  
</div>